body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
header {
  grid-column: 1;
  width: 80px;
  display: flex;
  flex-direction: column;
}

.new-tweet {
  grid-column: 2 / span 2;
  width: 70%
}

.right-options {
  grid-column: 4;
}

.feed,
.feed-header {
  grid-column: 2 / span 2;
}

.feed-peep {
  background-color: aqua;
  padding: 10px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
}

a.peep-body{
  font-size: 20px;
}

